name: Deploy Workflow

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Début du déploiement
        run: echo "Début du déploiement"

      - name: Afficher le secret
        run: echo "DEPLOY_TOKEN = ${{ secrets.DEPLOY_TOKEN }}"

      - name: Fin du déploiement
        run: echo "Déploiement terminé par NKOT VALERIE MADELEINE ANGELIQUE"
